<footer>
    <nav class="navbar fixed-bottom navbar-blue bg-blue">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy; 2021 Noran Ahmed COMP229</a>
      </div>
    </nav>
  </footer>