<%-include partials/header.ejs%>
    
    <%-include partials/main_nav.ejs%>

    
    <img id="about-bg" src="images/organic.jpg">
   
        <p style="float:right; width:1100px">
            To be certified organic, products must be grown and manufactured in a manner that adheres to standards set by the country they are sold in:

Australia: NASAA Organic Standard

Canada:Canadian Organic Standard

European Union: EU-Eco-regulation

Sweden: KRAV

United Kingdom: DEFRA

Poland: Association of Polish Ecology

Norway: Debio Organic certification

India: National Program for Organic Production (NPOP)

Indonesia: BIOCert, run by Agricultural Ministry of Indonesia.

Japan: JAS Standards

Mexico: Consejo Nacional de Producción Orgánica, department of Sagarpa

New Zealand: there are three bodies; BioGro, AsureQuality, and OFNZ

United States: National Organic Program (NOP) Standards

In the United States, there are four different levels or categories for organic labeling:[45]

"100% Organic": This means that all ingredients are produced organically. It also may have the USDA seal.
"Organic": At least 95% or more of the ingredients are organic.
"Made With Organic Ingredients": Contains at least 70% organic ingredients.
"Less Than 70% Organic Ingredients": Three of the organic ingredients must be listed under the ingredient section of the label.
In the U.S., the food label "natural" or "all natural" does not mean that the food was produced and processed organically.</p>
<p style="float:right ;width:1100px;font-weight:bold">
    Our website provides information on how to get organic food in Canada or outside Canada,
    We even can deliver any kind of organic food,you are not able to get, but this 
    service is restricted only within Ontario,Canada.You can fill the form and we will contact you in 48 hours.

</p>


    
    
    