<%-include partials/header.ejs%>
    
    <%-include partials/main_nav.ejs%>

    <div class="jumbotron">
      <h2 style="color:white; background-color:black; width:39%;height:70px; padding-top:4px;padding-left:6px;">Organic Food</h2>
      <hr style="border-style:solid;border-color:black;border-width:2px;">
      <div class="container"
      
      <p>Organic food is food produced by methods complying with the standards of organic farming. Standards vary worldwide, but organic farming features practices that cycle resources, promote ecological balance, and conserve biodiversity. Organizations regulating organic products may restrict the use of certain pesticides and fertilizers in the farming methods used to produce such products. Organic foods typically are not processed using irradiation, industrial solvents, or synthetic food additives</p>
    </div>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>

      </p>
    </div>
    <%-include partials/bottom_nav.ejs%>
    <%-include partials/footer.ejs%>

    
    