<%-include partials/header.ejs%>
    
    <%-include partials/main_nav.ejs%>
    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      </style>
      </head>
      <body>
      
      <div class="gallery">
        <a target="_blank" href="images/bread.jpg">
          <img src="images/bread.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Organic sprouted 100% whole grain</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="images/honey.jpg">
          <img src="images/honey.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Organic Certified with 0% added sugar</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="images/milk.jpg">
          <img src="images/milk.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Organic non-GMO certified milk</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="images/beef.jpg">
          <img src="images/beef.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">100% grass fed beef</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="images/chicken.jpg">
          <img src="images/chicken.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Organic Non-GMO 100% grain fed chicken</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="images/pasta.jpg">
          <img src="images/pasta.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Organic 100% whole grain pasta</div>
      </div>
      <div class="gallery">
        <a target="_blank" href="images/pan.jpg">
          <img src="images/pan.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Organic 100% whole grain pan cake</div>
      </div>
    