<%-include partials/header.ejs%>
    
    <%-include partials/main_nav.ejs%>

    <div class="wrapper">
      <h2 style="color:white; background-color:black; width:39%;height: 70px; padding-top:4px;padding-left:6px;">
    Services</h2>
    <div class="line">
    </div>
    <div class="single-service">
          <div class="social">
    <i class="fa fa-codepen"></i></div>
    <span></span>
           <h3>
    Provide information</h3>
    <p>
     You can leave your phone and email address, we will call you and provide you with any information on how to change your eat habits and eat organic non genetically modified food.Your health matters,
     We will provide you also with recent studies form accredited universities.</p>
    </div>
    <div class="single-service">
          <div class="social">
    </div>
    
           <h3>
    Deliver in Ontario, Canada</h3>
    <p>
    If you live in Ontario, Canada,We can deliver you any kind of healthy food from our product's list or give you the advice on where you can buy it.</p>
    </div>
    
    